.number-counter {
    margin: 20px;
    height: 180px;
    width: 132px;
    position: relative;
    float: left;
}
.inner {
    position: absolute;
    width: 100%;
}
.divider {
    height: 50%;
    top: 0;
    border-bottom: 2px solid #1c1c1c;
    box-shadow: 0 1px 1px #b0b0b0;
    z-index:2;
    border-radius: 3px;
    width:134px;
}
.number {
    background-image: -webkit-linear-gradient(#2c2c2c, #636363, #2c2c2c);
    border: 1px solid #1c1c1c;
    border-radius: 10px;
    color: white;
    font: bold 180px/180px "HelveticaNeue", Helvetica, Arial, sans-serif;
    text-align: center;
    text-shadow: 1px 3px 4px #222;
    box-shadow: 0 1px 3px #444, 0 1px 1px #b0b0b0 inset;
}
.knob {
    top: 46%;
    height: 13px;
    width: 4px;
    border: 1px solid #444;
    border-radius: 2px;
    background-image: -webkit-linear-gradient(#999, #ddd, #999);
    box-shadow: 0 1px 1px #f0f0f0 inset;
    z-index: 4;
}
.knob-left { left: -3px; }
.knob-right { right: -5px; }
.trailing {
	margin: 20px;
	position: relative;
	float: left;
  color: white;
  font: bold 180px/180px "HelveticaNeue", Helvetica, Arial, sans-serif;
  text-align: center;
  text-shadow: 1px 3px 4px #222;
}
​