@charset "utf-8";

/*____________Main Style and Containers______________*/
#wrapper{
	position:relative;
	width:860px;
	height:600px;
	margin:0px auto;
}

/*____________Game Table______________________*/
#table {
	position:relative;
	float:left;
	width:860px;
	height:600px;
	background:url(../images/bj/back.png) repeat;
	background-size: 58px 58px;
	border-radius: 5px;
}
	#table #rules{
		position:absolute;
		margin-top: 220px;
		margin-left: 280px;
		padding: 5px;
		opacity:0.4;
		font-size:20px;
	}
	
	#table .logo{
		font-size:40px;
		font-weight:200;
		border: 2px solid yellow;
		border-radius: 5px;
	}
	
	a:hover {
		text-decoration: none;
	}
	
	#table #players{
		position:absolute;
		bottom:100px;
		left:120px;
	}
	
	#table #resultMessage{
		position:absolute;
		left:250px;
		top:430px;
		width:100px;
		background:#bcc09a;
		border:3px double #333f35;
		text-align:center;
		padding:5px 0;
		font-size:22px;
		color:#333f35;
		display:none
	}
	
/*____________Bets and Money__________________*/	
	#table #score{
		float:left;
		width:205px;
		height:105px;
		margin:10px 0 0 10px;
		color: white;
		text-shadow: 0.2em 0.2em 0.2em #000;
		background:url(../images/bj/redback.png) repeat;
		background-size: 45px 45px;
		border: 1px solid #d6d863;
	}
	
	#table #chips{
		position:absolute;
		width:100%;
		height:60px;
		bottom:0px;
		background:url(../images/bj/woodbar.png) repeat-x;
		background-size: 100px 60px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;
		-moz-box-shadow: 0px -2px 10px #000;
		-webkit-box-shadow: 0px -2px 10px #000;
		box-shadow: 0px -2px 10px #000;
	}
	
		#chips li{
			position:relative;
			float:left;
			width:40px;
			height:40px;
			margin-left:2px;
			margin-top:10px;
			cursor:pointer;
		}
			#chips .chip img{position:absolute; width:40px; height:40px}

/*____________Game Control______________*/			
	
	#table #control{
		position:absolute;
		width:450px;
		height:50px;
		left:30%;
		bottom:8px
	}
	
		#control div{
			float:left;
			width:90px;
			height:34px;
			margin:10px 0 0 123px;
			padding-top:3px;
			text-align:center;
			font-size:18px;
			display:none;
			cursor:pointer
		}
			#control div:hover{color:white}
				#control #hit, #control #stay{margin-left:54px}

/*____________Game Field____________________*/		

	#table #gameField{
		position:relative;
		float:right;
		width:500px;
		height:430px;
		right:60px;
	}
	
		#gameField .cardM{
			position:absolute; 
			top:50px; 
			right:100px; 
			display:none;
			z-index:200
		}
		
		.curValue{
			position:absolute;
			left:320px;
			top:20px;
			font-size:22px;
			color: #FFF;
			z-index:4
		}
		
			.curValue.player{top:400px}